html {
    font-family: roboto, sans-serif;
    box-sizing: border-box;
}

*, *::after, *::before
{
    box-sizing: inherit;
}

body
{
    margin: 0;
    background-color: #edeef0;
}

button
{
    cursor: pointer;
    height: 36px;
    font-family: 'Roboto';
    border-radius: 8px;
    text-align:center;
    font-size: 14px;
    display: block;
    font-family: inherit;
}

.header
{
    height: 48px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.header-content
{
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.auth-block
{
    background-color: #fff;
    border-radius: 12px;
    max-width: 320px;
    margin: 20px auto 0;
    padding: 32px 24px;
}

.page-block
{
    background-color: #fff;
    border-radius: 12px;
    max-width: 320px;
    margin: 20px auto 0;
    padding: 24px 24px;
}

.name
{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    display: block;
}

.auth-text
{
    color: rgb(161, 161, 161);
    text-align: center;
    display: block;
    margin: 15px auto;
    font-size: 13px;
    font-weight: 400;
}

.header-text
{
    color: black;
    margin-left: auto;
    font-size: 13px;
    font-weight: 600;
    align-self: stretch;
    display: flex;
    align-items: center;
}

.header-text:hover
{
    background-color: lightgray;
    cursor: pointer;
}

.checkbox-text
{
    color: rgb(161, 161, 161);
    font-size: 13px;
    font-weight: 400;
}

.alien-computer
{
    display: block;
    margin-top: 12px;
    cursor: pointer;
}

.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-logo
{
    width:  140px;
    height: 25px;
}

.search
{
    display: block;
    border-radius: 8px;
    font-family: 'Roboto';
    border: 1px;
    height: 30px;
    width:  240px;
    background-color: #edeef0;
    padding: 0 12px;
    outline: none;
    font-family: inherit;
    font-size: 14px;
    padding: 0 30px 0;
    background-image: url(search.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
}

.input
{
    display: block;
    border-radius: 8px;
    font-family: 'Roboto';
    border: 1px;
    height: 36px;
    width: 100%;
    border-color: lightgray;
    border-style: solid;
    margin-bottom: 10px;
    background-color: #edeef0;
    padding: 0 12px;
    outline: none;
    font-family: inherit;
    font-size: 14px;
}

.input:focus
{
    border-color: rgb(81, 129, 184);
}

.login-button
{
    color: white;
    background-color: rgb(0, 119, 255);
    width: 100%;
    border: none;
    margin-top: 20px;
}

.login-button:hover
{
    background-color: rgb(47, 144, 255);
}

.signup-button
{
    color: white;
    background-color: rgb(46, 172, 56);
    width: 100%;
    border: none;
}

.signup-button:hover
{
    background-color: rgb(68, 196, 79);
}

.qr-button
{
    color: black;
    background-color: white;
    width: 100%;
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    background-image: url(qr-code.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
}

.qr-button:hover
{
    background-color: #f7f7f7;
}